.navbar {
  height: 50px;
  background-color: purple;
  color:#fff;
}
.container {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 1400px;
  margin: 0 auto;
}
.logo {
  font-size: 24px;
  font-weight: 700;
}
.link {
  color: #fff; //отменяем цвет
  text-decoration: none;
}
.list {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;

  &__item {
    font-weight: 500;
    cursor: pointer;
    font-size: 18px;
  }
  .avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
}
.btn {
  font-size: 18px;
  border: 1px solid #fff;
  padding: 5px;
  line-height: 120%;
  background-color: transparent;
  color:#fff;
}